hotelbooking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="hotelbooking">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="room">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="roomtype" type="xs:string" />
							<xs:element name="bed" type="xs:int" />
							<xs:element name="price" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="no" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
